.list {
  display: flex;
  flex-wrap: wrap;

  &--vertical-until-medium {
    flex-direction: column;

    @mixin medium {
      margin-right: -1.5em;
      flex-direction: row;
      justify-content: center;
    }

    @mixin large {
      margin-right: -1.5em;
    }
  }

  &--horizontal-center {
    justify-content: center;
  }

  &--margin-bottom {
    margin-bottom: 0.5em;
  }

  &__item {
    margin-right: 0.3em;

    @mixin mediumPortrait {
      font-size: 1.3rem;
    }

    @mixin large {
      font-size: 1.5rem;
    }

    &--border {
      padding: 0.3em 0.5em;
      border: 1px solid $midtones;
      border-radius: 0.625rem;
    }
  }
}
