.list {
  display: flex;

  &--vertical-until-large {
    flex-direction: column;
  }

  &--margin-bottom {
    margin-bottom: 0.5em;
  }

  &__item {
    margin-right: 0.3em;

    &--border {
      padding: 0.3em 0.5em;
      border: 1px solid $midtones;
      border-radius: 0.625rem;
    }
  }
}
