.page-section {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--bg-midtones {
    background-color: $midtones;
  }

  &--padding-bottom {
    padding-bottom: 5em;
  }

  &--full-page-when-medium {
    @mixin medium {
      margin-top: -4.5em;
      min-height: 100vh;
    }

    @mixin large {
      margin-top: 0;
    }
  }
}
