.primary-nav {
  padding: 1.5em 0 0.8em 0;
  text-align: center;
  background-color: $shadows;
  opacity: 0;
  visibility: hidden;
  z-index: -3;
  transition: opacity 0.3s,
              visibility 0.3s;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &__item {
    padding: 0.8em;
    display: block;
    font-size: 1.5625rem;
    color: #fff;

    @mixin large {
      display: inline-block;
      font-size: 1.6rem;
      color: $highlights;
    }
  }

  @mixin medium {
    padding: 2.5em 0 1.8em 0;
  }

  @mixin large {
    opacity: 0.9;
    background-color: transparent;
    padding: 0.7em 1.5em;
    display: block;
    text-align: right;
    visibility: visible;
    transition: none;
  }
}
