.site-header {
  background-color: $midtones;
  height: 11.25rem;

  &__burger-menu {
    margin: 0.8em;
    position: absolute;
    right: 0;

    display: block;
    z-index: 3;

    span {
      margin-bottom: 0.5em;
      width: 3rem;
      height: 0.5rem;
      position: relative;
      display: block;
      background-color: #fff;
    }
  }
}
