.wrapper {
  padding-right: 0.5em;
  padding-left: 0.5em;

  @mixin small {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  @mixin medium {
    margin: 0 auto;
    max-width: 80%;
  }

  @mixin large {
    max-width: 70%;
  }
}
